<%= form_with(model: blog, local: true, :html => {:class => 'rounded', :style => 'padding: 20px; background: #202121;' }) do |form| %>
    <% if blog.errors.any? %>
        <% blog.errors.full_messages.each do |error| %>
            <%= alert_generator error, 'error' %>
        <% end %>
    <% end %>
  
    <div class="field">
      <%= form.text_field :title, placeholder:'Title', style: 'background: none;
      border: none;
      border-bottom: 1px solid #AD974F;
      width: 50%;
      color: #b5bcc3;
      margin-bottom: 20px;' %>
    </div>
  
    <div class="field" style="margin-bottom: 20px;">
      <%= form.rich_text_area :body, placeholder:'Body', rows: 30, direct_upload: true, style: "width:100%; background: none; color: #b5bcc3; border: none; border-bottom: 1px solid #AD974F;" %>
    </div>
  
    <div class="field" style="margin-bottom: 20px;">
      <%= form.label :topic_id %>
      <%= form.collection_select(:topic_id, Topic.all, :id, :title,
                                {
                                  include_blank: true
                                },
                                class: 'form-control',
                                    style: 'background: none;
                                    color: #b5bcc3;
                                    border: none;
                                    border-bottom: 1px solid #AD974F;'
                              )
      %>
    </div>
  
    <div class="form-group" style="margin-bottom: 20px;">
      <%= form.radio_button :status, 'draft' %>
      <%= form.label :status, 'Draft' %>
  
      <%= form.radio_button :status, 'published' %>
      <%= form.label :status, 'Published' %>
    </div>
    
    <div class="field" style="margin-bottom: 20px;">
      <%= form.label :tags %><br/>
      <%= form.text_field :tag_list, value: form.object.tag_list.to_s, style: 'background: none;
      color: #b5bcc3;
      border: none;
      border-bottom: 1px solid #AD974F;
      width: 50%' %>
    </div>
  
    <div class="row">
        <div class="col"  align="center">
            <label class="nav-link btn btn-primary" style="display: inline-block; border: 1px solid #b5bcc3;">
                Upload Thumbnail <%= form.file_field :thumb_image, style: 'display:none;' %>
            </label>
        </div>
        <div class="col"  align="center">
            <label class="nav-link btn btn-primary" style="display: inline-block; border: 1px solid #b5bcc3;">
                Upload Banner <%= form.file_field :main_image, style: 'display:none;' %>
            </label>
        </div>
        <div class="col"  align="center">
            <%= form.submit :class => "nav-link btn btn-primary" %>
        </div>
    </div>
  
    
  <% end %>
  