<%= image_tag blog_img(@blog.main_image_url, 'main'), width: '100%' %>
<br>
<%= image_tag blog_img(@blog.thumb_image_url, 'thumb'), width: '200px' %>
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown @blog.body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @blog.status.capitalize %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @blog.topic.title %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @blog.tag_list %>
</p>

<!-- comment form -->
<%= render 'comments/comment_form' %>


<!-- comment section -->
<div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
</div>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
