<div id="background-devise"></div>
<div id="background-filter"></div>

<div class="container-fluid" align="center" style="margin-top: 10%;">
    <div class="row" align="center">
        <span style="font-size: 2rem;"><h2>Sign up for the <span class="gold-text"><i>ROUND TABLE</i></span></h2></span><br/>
        <span>Creating an account allows you to comment on posts. The information gathered is not used for any other purpose. </span>
    </div>
    <div align="center" style="font-size: 1.2rem; margin-top: 3.2rem; background: rgba(0,0,0,.8); min-width: 50%; padding: 30px; display: inline-block;">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
        
            <div class="field">
                <%= f.label :name %><br />
                <%= f.text_field :name, autofocus: true %>
            </div>
        
            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
        
            <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
        
            <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
        
            <div class="actions">
                <%= f.submit "Sign up", class: 'nav-link btn btn-primary', style: 'margin-bottom: 20px;' %>
            </div>
        <% end %>
      
        Already have an account? <%= render "devise/shared/links" %>
    </div>
</div>
