<div class="">
    <h1><%= @topic.title %></h1>
    <p>
        <%= @topic.description %>
    </p>

    <%= paginate @blogs %>

    <p>
        <% if @blogs.empty? %>
            Stay tuned! Content for this topic is being developed and will be made available soon. For now, please explore 
            the other topics at the Round Table.
        <% end %>
    </p>
    <%= render @blogs %>

    <%= paginate @blogs %>
</div>
