<div class="footer-container">
    <div class="container" style="height: inherit;">
        <div class="row align-items-center" style="height:inherit;">    
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 footer-logo-container" align="center">
                        <a href="/"><%= icon('fas', 'chess-knight', class: 'footer-logo') %></a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-1" align="center">
                        <a href="https://www.instagram.com/sir_nicholas0/"><%= icon('fab', 'instagram', class: 'fav-icon-footer') %></a>
                    </div>
                    <div class="col-1" align="center">
                        <a href="https://twitter.com/sir_nicholas0"><%= icon('fab', 'twitter', class: 'fav-icon-footer') %></a>
                    </div>
                    <div class="col-1" align="center">
                        <a href="https://www.linkedin.com/in/nicholasaschumacher/"><%= icon('fab', 'linkedin', class: 'fav-icon-footer') %></a>
                    </div>
                </div>
                <div class="row justify-content-center footer-auth-container">
                    <div>
                        <%= login_helper 'btn btn-auth' %>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 copyright-text" align="center">
                        @2020 Sir Nicholas
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>