<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords%>" />
    <%= favicon_link_tag 'sir_nicholas_logo_black.PNG' %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/nav', location: 'top' %>
    <div class='container'>
        <%= yield %>
        <%= alerts %>
    </div>
  </body>
</html>
